<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

	<uses-sdk tools:overrideLibrary="androidx.compose.ui.tooling.preview, androidx.compose.ui.tooling.data, androidx.compose.foundation, androidx.compose.foundation.layout, androidx.compose.animation.core, androidx.compose.animation, androidx.compose.ui.util, androidx.compose.ui.unit, androidx.compose.ui.text, androidx.compose.ui.graphics, androidx.compose.ui.geometry, androidx.compose.ui.tooling, androidx.compose.runtime.annotation, androidx.compose.runtime, androidx.compose.runtime.saveable, androidx.savedstate.ktx, androidx.savedstate.compose, androidx.savedstate, androidx.lifecycle.livedata.core.ktx, androidx.lifecycle.livedata, androidx.lifecycle.process, androidx.lifecycle.ktx, androidx.lifecycle.*, androidx.compose.*"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="?android:attr/colorBackground">
        <provider
                android:name="androidx.startup.InitializationProvider"
                android:authorities="${applicationId}.androidx-startup"
                android:exported="false"
                tools:node="merge">
            <meta-data  android:name="site.remlit.snowdrop.util.ContextInitializer"
                        android:value="androidx.startup" />
        </provider>

        <activity
                android:exported="true"
                android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<data android:scheme="snowdrop" android:host="oauth-callback"/>
			</intent-filter>
        </activity>
    </application>

</manifest>
